@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/svn/SVN-GilroyLight.woff2') format('woff2'),
        url('../fonts/svn/SVN-GilroyLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/svn/SVN-GilroyBold.woff2') format('woff2'),
        url('../fonts/svn/SVN-GilroyBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel';
    src: url('../fonts/sequel/SequelSans-LightBody.woff2') format('woff2'),
    url('../fonts/sequel/SequelSans-LightBody.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel';
    src: url('../fonts/sequel/SequelSans-BoldHead.woff2') format('woff2'),
    url('../fonts/sequel/SequelSans-BoldHead.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel';
    src: url('../fonts/sequel/SequelSans-BookHead.woff2') format('woff2'),
    url('../fonts/sequel/SequelSans-BookHead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel-roman';
    src: url('../fonts/sequel/SequelSans-RomanHead.woff2') format('woff2'),
    url('../fonts/sequel/SequelSans-RomanHead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roca';
    src: url('../fonts/roca/RocaTwo-Bl.woff2') format('woff2'),
    url('../fonts/roca/RocaTwo-Bl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roca';
    src: url('../fonts/roca/RocaTwo-Rg.woff2') format('woff2'),
    url('../fonts/roca/RocaTwo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


